* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo del sitio */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    }

html{
    height: 100%;
    width: 100%;
}

/* Estilos para el encabezado */
header {
    background-color: black;
    color: black;
    text-align: center;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.producto {
    margin-bottom: 20px;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}


/* Estilos para los botones de acción en la sección de inicio */
#inicio .btn:hover {
    background-color: #555;
}

.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slider ul{
    display: flex;
    animation: cambio 15s infinite alternate linear;
    padding: 0;
    width: 400%;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

img{
    width: 100%;
    
}

/* navegación responsiva*/
    .toggle2{
        display: none
    }

   .barNav li {
    padding: 10px 20px;
    margin-top: 10px;
  }

  .barNav{
    position: fixed;
    top: 80px;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation-name: aniBar;
    animation-duration: 0.8s;
    animation-timing-function: linear;
  } 
  .barNav li{
     width: 100%;
  }

  .barNav li:hover{
    background-color: #555;
  }

  .barNav a{
    width: 100%;
    color: black;
  }

  @keyframes aniBar {
    0%{margin-left: -12%;}
    25%{margin-left: -8%;}
    50%{margin-left: -4%;}
    75%{margin-left: -2%;}
    100%{margin-left: 0%;}
  }

  /*mapa de google*/
  iframe{
    width: 100%;
    height: 300px;
  }

  /*categorias*/

  .contenedor-categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .conetendor-cat1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 200px;
    max-width: 500px;
    max-height: 250px;
    text-align: center;
  }

  .card:hover{
    background-color: rgba(151, 223, 130, 0.8);
    transition: all 1s ease-in-out;
  }
  
  .card2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 250px;
    height: 510px;
    max-height: 510px;
  }

  
  .card2 h2 {
    color: #333;
  }
  
  .card2 ul {
    list-style-type: none;
    padding: 0;
  }
  
  .card2 ul li {
    margin-bottom: 5px;
  }
  
  .card2 ul li::before {
    content: "•";
    margin-right: 5px;
  }

  .card2:hover{
    background-color: rgba(151, 223, 130, 0.8);
    transition: all 1s ease-in-out;
  }


  