@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container-products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
  border-radius: 12px;
  border: 1px solid;  
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content:space-between;
  text-align: center;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-image{
  height: 150px;
  width: 300px;
}

.banner-image img{
  border-radius: 12px;
}

.container_text{
  margin-top: 100px;
}


h1{
  margin-top: 40px;
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
}

p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper{
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}

#textarea{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container:hover{
  animation: cards 1s infinite ease;
  border:solid #f17272;
}

@keyframes cards{
  0%{border: solid 1 #f17272;}
  5%{border: solid 1.5 #f17272;}
  15%{border: solid 1.5 #f17272;}
  25%{border: solid 2px #f17272;}
  35%{border: solid 2.5px #f17272;}
  45%{border: solid 3px #f17272;}
  55%{border: solid 2.5px #f17272;}
  65%{border: solid 2px #f17272;}
  75%{border: solid 1.5px #f17272;}
  85%{border: solid 1px #f17272;}
  95%{border: solid 1px #f17272;}
  100%{border: solid 1px #f17272;}
}

@media only screen and (max-width: 600px) {
  .container-products{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
